header {
  width: 100%;
  height: 436px;
  .box-shadow( 0px 5px 5px 0px rgba(50, 50, 50, 0.25) );
}

header .topline {
  .box-shadow( inset 0px -5px 5px 0px rgba(50, 50, 50, 0.25) );
}

header .topline .content {
  width: 960px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  .box-shadow( inset 0px -5px 5px -2px rgba(50, 50, 50, 0.25) );
  height: 40px;
  .clearfix();
}

header .topline .content div {
  background-color: whitesmoke;
  margin-left: 5px;
  float: left;
}

header .thumblr {
  background-image: url("/public/images/thumblr.png");
  width: 41px;
  height: 40px;
}

header .fb {
  background-image: url("/public/images/fb.png");
  width: 41px;
  height: 40px;
}

header .twitter {
  background-image: url("/public/images/twitter.png");
  width: 40px;
  height: 40px;
}

header .logo {
  height: 396px;
  background: url("/public/images/header-background.jpg") no-repeat center,
              url("/public/images/header-background-repeat.png") top left / 100% 100% no-repeat;
}