header {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  padding-top: 200px;
}

header p {
  font-size: 1.4em;
}

p.underconstruction {
  margin: 0 auto;
  width: 960px;
  text-align: center;
}