<section class="grid">
  <article class="intro col col-1-2">
    <h1>Welcome</h1>
    <p><b>node-organic</b> is proof-of-concept project about organic software development.</p>
    <p>It's core implementation in <a href="https://github.com/VarnaLab/node-organic" target="_blank">nodejs</a> provides sustainable evolution-like software development from July 2012.</p>
    <p>The concept has been also successfully implemented in  <a href="https://github.com/peterdenev/php-organic" target="_blank">php</a> and <a href="https://github.com/vbogdanov/organic-java-core" target="_blank">java</a>.</p>
    <p><b>node-organic.com</b> is site for the nodejs based organic implementation. From here you can seek <a href="{{URLS.discussions}}" target="_blank">answers</a>, <a href="{{URLS.documentation}}" target="_blank">learn</a> and <a href="{{URLS.modules}}">contribute</a>.
  </article>
  <article class="concept col col-2-2">
    <h1>Concept</h1>
    <p>`node-organic` is proof-of-concept about organic software development aka <a href="http://en.wikipedia.org/wiki/Organic_computing" target="_blank">organic computing</a>.</p>
    <p>Software developed based node-organic-like concept is capable to support one or more of the following properties:</p>
    <ul>
      <li>Self-configuration</li>
      <li>Self-optimization</li>
      <li>Self-protection</li>
      <li>Self-reflection</li>
    </ul>
  </article>
</section>
<article class="iframe-wrapper">
  <div class="downarrow"></div>
  <iframe src="https://outbounder.github.com/organic-presentation-101/" height="560px"></iframe>
  <a href="https://github.com/outbounder/organic-presentation-101" target="_blank">https://github.com/outbounder/organic-presentation-101</a>
</article>