<section class="grid">
  <article class="intro col col-1-2">
    <h1>Welcome</h1>
    <p>This web site is created the honest intentions to help developers achieve their goals with node-organic as concept and actual implementation.</p>
    <p>Here you can seek <a href="{{URLS.discussions}}">answers</a>, <a href="{{URLS.documentation}}">learn</a> and <a href="{{URLS.modules}}">contribute</a>.
  </article>
  <article class="concept col col-2-2">
    <h1>Concept</h1>
    <p>`node-organic` is proof-of-concept about organic software development aka <a href="http://en.wikipedia.org/wiki/Organic_computing">organic computing</a>.</p>
    <p>Software developed based node-organic-like concept is capable to support one or more of the following properties:</p>
    <ul>
      <li>Self-configuration</li>
      <li>Self-optimization</li>
      <li>Self-protection</li>
      <li>Self-reflection</li>
    </ul>
  </article>
</section>
<article class="iframe-wrapper">
  <div class="downarrow"></div>
  <iframe src="https://outbounder.github.com/organic-presentation-101/" height="560px"></iframe>
  <a href="https://github.com/outbounder/organic-presentation-101">https://github.com/outbounder/organic-presentation-101</a>
</article>