<footer>
  <div class="menu-wrapper">
    <nav>
      <ul>
        <li>
          <a href="#about" class="active">about</a>
          <div class="underline"></div>
        </li>
        <li>
          <a href="{{URLS.documentationUrl}}">documentation</a>
          <div class="underline"></div>
        </li>
        <li>
          <a href="#modules">modules</a>
          <div class="underline"></div>
        </li>
        <li>
          <a href="{{URLS.discussionsUrl}}">discussions</a>
          <div class="underline"></div>
        </li>
      </ul>
    </nav>
    <div class="varnalablogo"></div>
    <div class="camplightlogo"></div>
  </div>
</footer>