<header>
  <div class="topline">
    <div class="content">
      <div class="icon thumblr"></div>
      <div class="icon fb"></div>
      <div class="icon twitter"></div>
      <div class="pull-right">
        <i class="fa fa-code fa-2x" title="in development"></i>
        <i class="fa fa-coffee fa-2x" title="in production"></i>
      </div>
    </div>
  </div>
  <div class="logo"></div>
  <div class="menu-wrapper">
    <ng-include src="'/public/templates/menu.html'"></ng-include>
  </div>
</header>