<header>
  <div class="topline">
    <div class="content">
      <div class="thumblr"></div>
      <div class="fb"></div>
      <div class="twitter"></div>
    </div>
  </div>
  <div class="logo"></div>
  <div class="menu-wrapper">
    <nav>
      <ul>
        <li>
          <a href="#about" class="active">about</a>
          <div class="underline"></div>
        </li>
        <li>
          <a href="#documentation">documentation</a>
          <div class="underline"></div>
        </li>
        <li>
          <a href="#modules">modules</a>
          <div class="underline"></div>
        </li>
        <li>
          <a href="#discussions">discussions</a>
          <div class="underline"></div>
        </li>
      </ul>
    </nav>
  </div>
</header>