<header>
  <div class="topline">
    <div class="content">
      <a href="http://node-organic.tumblr.com/" target="_blank">
        <div class="icon tumblr"></div>
      </a>
      <div class="icon twitter"></div>
      <div class="pull-right">
        <i class="fa fa-code fa-2x" title="in development"></i>
        <i class="fa fa-coffee fa-2x" title="in production"></i>
        <a href="https://github.com/VarnaLab/node-organic" target="_blank">
          <div class="fa fa-github fa-2x"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="logo"></div>
  <div class="menu-wrapper">
    <ng-include src="'/public/templates/menu.html'"></ng-include>
  </div>
</header>