<section ng-controller="modules" class="modules">
  <h1>Organic modules published in npm</h1>
  <form>
    <input type="text" scroll-on-focus blur-on-esc placeholder="filter organic modules by name" ng-model="filter.name" tabindex="1" />
  </form>
  <h2>Total results on npmjs.org: {{ modules.length }}</h2>
  <hr />
  <div class="animate-repeat module" ng-repeat="module in modules | filter:filter as results">
    <div>
      <div class="pull-left">
        <a href="{{ module.links.npm }}">{{ module.name }}</a>
      </div>
      <div class="pull-right">
        <span>{{ module.downloads }} <i class="fa fa-download"></i></span>
        <span>{{ module.stars }} <i class="fa fa-star"></i></span>
      </div>
    </div>
    <div class="clear"></div>
    <div class="pull-right">
      <span>{{ module.version }} by {{ module.author }}</span>
    </div>
    <div class="clear"></div>
    <hr />
  </div>
  <div class="animate-repeat" ng-if="results.length == 0">
    <h2>Given name `{{filter.name}}` doesn't match any module</h2>
  </div>
</section>